<mat-toolbar class="footer footer-shadow">
  <div class="footer-content">
    <span class="copyrights">
      © Szymon Gross 2025
    </span>
    <span class="icons-container">
      <button mat-icon-button aria-label="Instagram link" (click)="this.openLink('https://www.instagram.com/szymciogrosik/')">
        <img src="assets/icon/socialmedia/instagram_white.svg" alt="Instagram">
      </button>
      <button mat-icon-button aria-label="Facebook link" (click)="this.openLink('https://www.facebook.com/szymciogrosik')">
        <mat-icon>facebook</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar>
