<mat-toolbar class="footer footer-shadow">
  <div class="footer-content">
    <span class="copyrights">
      {{ 'footer.copyrights' | translate }}
    </span>
    <div class="legal-links">
      <a [routerLink]="rp.SEP + rp.PRIVACY_POLICY" class="legal-link">{{ 'footer.legal.privacy' | translate }}</a>
      <span class="legal-sep">·</span>
      <a [routerLink]="rp.SEP + rp.TERMS" class="legal-link">{{ 'footer.legal.terms' | translate }}</a>
      <span class="legal-sep">·</span>
      <a [routerLink]="rp.SEP + rp.COOKIES" class="legal-link">{{ 'footer.legal.cookies' | translate }}</a>
    </div>
    <span class="icons-container">
      <button mat-icon-button aria-label="Instagram link"
              (click)="this.openLink('https://www.instagram.com/szymciogrosik/')">
        <img class="instagram-icon" src="assets/icon/socialmedia/instagram_white.svg" alt="Instagram">
      </button>
      <button mat-icon-button aria-label="Facebook link"
              (click)="this.openLink('https://www.facebook.com/szymciogrosik')">
        <mat-icon>facebook</mat-icon>
      </button>
      <button mat-icon-button aria-label="GitHub link" (click)="this.openLink('https://github.com/szymciogrosik')">
        <mat-icon>developer_mode_tv</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar>
