<mat-toolbar class="navbar-style navbar-home-page navbar-shadow" color="primary">

  <button mat-button routerLink="{{ rp.SEP + rp.HOME }}">
    <mat-icon>beach_access</mat-icon>&nbsp;{{ 'navbar.tab.applicationName' | translate }}
  </button>
  <!--   This fills the remaining space of the current row-->
  <span class="fill-remaining-space"></span>

  <!-- Full menu navbar -->
  <div class="full-menu">
    <!-- Add new link here part 1/2 -->
    @if (isAdmin$ | async) {
      <button mat-button class="navbar-button" (click)="navigateToAdminPanel()">
        {{ 'navbar.tab.button.adminPanel' | translate }}
      </button>
    }
    <!-- Theme Toggle -->
    @if (allowDarkMode$ | async) {
      <button mat-button class="navbar-button" (click)="themeService.toggleTheme()">
        <mat-icon style="margin: 0;">{{ (isDarkTheme$ | async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    }
    <!-- Choose language tab -->
    <button mat-button class="navbar-button" [matMenuTriggerFor]="languageMenu">
      <mat-icon style="margin: 0;">language</mat-icon>
    </button>

    @if (currentUser$ | async; as user) {
      <button mat-button class="navbar-button" (click)="navigateToProfile()">
        <div class="navbar-profile-btn-content">
          @if (user.photoUrl) {
            <img [src]="user.photoUrl" class="navbar-avatar-image" alt="Avatar">
          } @else {
            <div class="navbar-avatar-fallback">{{ user.firstName.charAt(0) || '' }}{{ user.lastName.charAt(0) || '' }}
            </div>
          }
          <span>{{ 'navbar.tab.button.profile' | translate }}</span>
        </div>
      </button>
      <button mat-button class="navbar-button" (click)="logout()">
        {{ 'navbar.tab.button.logout' | translate }}
      </button>
    } @else if (this.authService.isAuthenticated() | async) {
      <!-- Fallback just in case user object is momentarily null but authenticated is true -->
      <button mat-button class="navbar-button" (click)="navigateToProfile()">
        {{ 'navbar.tab.button.profile' | translate }}
      </button>
      <button mat-button class="navbar-button" (click)="logout()">
        {{ 'navbar.tab.button.logout' | translate }}
      </button>
    } @else {
      <button mat-button class="navbar-button" (click)="navigateToLogin()">
        {{ 'navbar.tab.button.login' | translate }}
      </button>
    }
  </div>

  <!-- Short menu navbar -->
  <div class="short-menu">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon style="margin: 0;">menu</mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-menu xPosition="before" #menu="matMenu">
  <!-- Add new link here part 2/2 -->
  @if (isAdmin$ | async) {
    <button mat-menu-item class="navbar-button-burger-menu" (click)="navigateToAdminPanel()">
      {{ 'navbar.tab.button.adminPanel' | translate }}
    </button>
  }
  @if (currentUser$ | async; as user) {
    <button mat-menu-item class="navbar-button-burger-menu" (click)="navigateToProfile()">
      <mat-icon style="display: flex; align-items: center; justify-content: center; overflow: visible;">
        @if (user.photoUrl) {
          <img [src]="user.photoUrl" class="navbar-avatar-image" alt="Avatar">
        } @else {
          <div class="navbar-avatar-fallback">{{ user.firstName.charAt(0) || '' }}{{ user.lastName.charAt(0) || '' }}
          </div>
        }
      </mat-icon>
      <span>{{ 'navbar.tab.button.profile' | translate }}</span>
    </button>
  } @else if (this.authService.isAuthenticated() | async) {
    <button mat-menu-item class="navbar-button-burger-menu" (click)="navigateToProfile()">
      {{ 'navbar.tab.button.profile' | translate }}
    </button>
  } @else {
    <button mat-menu-item class="navbar-button-burger-menu" (click)="navigateToLogin()">
      {{ 'navbar.tab.button.login' | translate }}
    </button>
  }
  <!-- Theme Toggle -->
  @if (allowDarkMode$ | async) {
    <button mat-menu-item class="navbar-button-burger-menu" (click)="themeService.toggleTheme()">
      <mat-icon>{{ (isDarkTheme$ | async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
      <span>{{ ((isDarkTheme$ | async) ? 'theme.light' : 'theme.dark') | translate }}</span>
    </button>
  }
  <!-- Choose language tab -->
  <button mat-menu-item class="navbar-button-burger-menu" [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
    <span>{{ 'language.name' | translate }}</span>
  </button>

  @if (this.authService.isAuthenticated() | async) {
    <button mat-menu-item class="navbar-button-burger-menu" (click)="logout()">
      {{ 'navbar.tab.button.logout' | translate }}
    </button>
  }
</mat-menu>

<!-- Language sub-menu -->
<mat-menu xPosition="before" #languageMenu="matMenu">
  <button mat-menu-item class="navbar-button-burger-menu"
          (click)="this.translateService.setLanguage(LanguageEnum.POLISH)">{{ 'language.polish' | translate }}
  </button>
  <button mat-menu-item class="navbar-button-burger-menu"
          (click)="this.translateService.setLanguage(LanguageEnum.ENGLISH)">{{ 'language.english' | translate }}
  </button>
</mat-menu>
