<div class="registration-content">
  <mat-card class="app-card-narrow">
    <mat-card-title>
      <h1>{{ (isRegistrationMode ? 'login.mode.register' : 'login.mode.login') | translate }}</h1>
      <p>{{ 'login.header2' | translate }}</p>
    </mat-card-title>

    <mat-card-content>
      @if (!checkingIfUserIsAlreadyLoggedIn) {
        @if (fetchingSettings) {
          <div style="text-align: center; padding: 20px;">
            <mat-spinner [diameter]="50" style="margin: 0 auto;"></mat-spinner>
          </div>
        } @else {
          <div class="login-tabs-container">
            @if (allowForRegistering) {
              <mat-tab-group (selectedTabChange)="onTabChange($event)" dynamicHeight>
                <mat-tab label="{{ 'login.mode.login' | translate }}">
                  <div class="tab-content-padding">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                      <p>
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'login.enterEmail' | translate }}</mat-label>
                          <input matInput type="email" placeholder="{{ 'login.exampleEmail' | translate }}"
                                 formControlName="email" required>
                          <mat-error>{{ this.getErrorMessage('email') }}</mat-error>
                        </mat-form-field>
                      </p>

                      <p>
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'login.enterPassword' | translate }}</mat-label>
                          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                                 required>
                          <button mat-icon-button matSuffix type="button" class="register-button"
                                  (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                                  [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                          </button>
                          <mat-error>{{ this.getErrorMessage('password') }}</mat-error>
                        </mat-form-field>
                      </p>

                      <div>
                        @if (loading) {
                          <mat-spinner [diameter]="30"></mat-spinner>
                        } @else {
                          <button mat-flat-button type="submit" color="primary" class="register-button">
                            {{ 'login.approve.button' | translate }}
                          </button>
                        }
                      </div>
                    </form>
                  </div>
                </mat-tab>

                <mat-tab label="{{ 'login.mode.register' | translate }}">
                  <div class="tab-content-padding">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                      <p>
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'login.enterFirstName' | translate }}</mat-label>
                          <input matInput type="text" placeholder="{{ 'login.exampleFirstName' | translate }}"
                                 formControlName="firstName" required>
                          <mat-error>{{ this.getErrorMessage('firstName', true) }}</mat-error>
                        </mat-form-field>
                      </p>

                      <p>
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'login.enterLastName' | translate }}</mat-label>
                          <input matInput type="text" placeholder="{{ 'login.exampleLastName' | translate }}"
                                 formControlName="lastName" required>
                          <mat-error>{{ this.getErrorMessage('lastName', true) }}</mat-error>
                        </mat-form-field>
                      </p>

                      <p>
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'login.enterEmail' | translate }}</mat-label>
                          <input matInput type="email" placeholder="{{ 'login.exampleEmail' | translate }}"
                                 formControlName="email" required>
                          <mat-error>{{ this.getErrorMessage('email', true) }}</mat-error>
                        </mat-form-field>
                      </p>

                      <p>
                        <mat-form-field appearance="outline">
                          <mat-label>{{ 'login.enterPassword' | translate }}</mat-label>
                          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                                 required>
                          <button mat-icon-button matSuffix type="button" class="register-button"
                                  (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                                  [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                          </button>
                          <mat-error>{{ this.getErrorMessage('password', true) }}</mat-error>
                        </mat-form-field>
                      </p>

                      <div>
                        @if (loading) {
                          <mat-spinner [diameter]="30"></mat-spinner>
                        } @else {
                          <button mat-flat-button type="submit" color="primary" class="register-button">
                            {{ 'login.approve.button' | translate }}
                          </button>
                        }
                      </div>
                    </form>
                  </div>
                </mat-tab>

              </mat-tab-group>
            } @else {
              <!-- Registration not allowed, show only Login Form -->
              <div class="tab-content-padding">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'login.enterEmail' | translate }}</mat-label>
                      <input matInput type="email" placeholder="{{ 'login.exampleEmail' | translate }}"
                             formControlName="email" required>
                      <mat-error>{{ this.getErrorMessage('email') }}</mat-error>
                    </mat-form-field>
                  </p>

                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'login.enterPassword' | translate }}</mat-label>
                      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                      <button mat-icon-button matSuffix type="button" class="register-button"
                              (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                      </button>
                      <mat-error>{{ this.getErrorMessage('password') }}</mat-error>
                    </mat-form-field>
                  </p>

                  <div>
                    @if (loading) {
                      <mat-spinner [diameter]="30"></mat-spinner>
                    } @else {
                      <button mat-flat-button type="submit" color="primary" class="register-button">
                        {{ 'login.approve.button' | translate }}
                      </button>
                    }
                  </div>
                </form>
              </div>
            }

            <div class="separation-line"></div>

            <div>
              @if (!loading) {
                <button mat-flat-button color="accent" class="register-button login-with-google"
                        (click)="openPopupIfEmbeddedBrowserOpenOtherwiseOpenPopup()">
                  {{ 'login.googleSso' | translate }}
                </button>
              }
            </div>
          </div>
        }
      }
      @if (checkingIfUserIsAlreadyLoggedIn) {
        <div class="checking-if-user-is-logged-in"
             style="display: flex; flex-direction: column; gap: 16px; margin-top: 20px;">
          <div class="skeleton-loader" style="height: 56px; width: 100%; border-radius: 4px;"></div>
          <div class="skeleton-loader" style="height: 56px; width: 100%; border-radius: 4px;"></div>
          <div class="skeleton-loader" style="height: 36px; width: 100%; border-radius: 4px; margin-top: 10px;"></div>
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>
