<div class="dialog-container">
  <h1 mat-dialog-title class="dialog-title">{{ 'profile.password.title' | translate }}</h1>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography dialog-font dialog-content-container">
      <p>
        <mat-form-field appearance="outline" class="user-details-bigger-error">
          <mat-label>{{ 'profile.password.new' | translate }}</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix type="button" class="register-button" (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>{{ getErrorMessage('password') }}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="user-details-bigger-error">
          <mat-label>{{ 'profile.password.confirm' | translate }}</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required>
          <button mat-icon-button matSuffix type="button" class="register-button"
                  (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide confirm password'"
                  [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>{{ getErrorMessage('confirmPassword') }}</mat-error>
        </mat-form-field>
      </p>
    </mat-dialog-content>

    <mat-dialog-actions>
      <div class="app-popup-full-width-actions">
        <button type="button" mat-raised-button color="warn" class="app-action-button" (click)="onCancel()">
          {{ 'profile.password.cancel' | translate }}
        </button>
        <button type="submit" mat-raised-button color="primary" class="app-action-button" [disabled]="isLoading">
          {{ 'profile.password.change' | translate }}
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>
