@use "src/styles.scss" as *;

.dialog-button {
  width: 100%;
  margin: 16px;
}

.dialog-content-container {
  padding-bottom: 0;
}

.user-details-bigger-error {
  margin-bottom: 10px;
}

.card-title {
  margin-top: 5px;
  font-weight: bold;
}

@media (min-width: 470px) {
  .dialog-container {
    width: 450px;
  }
}
