<mat-tab-group>
  <mat-tab label="{{ 'admin.panel.tab.header.settings.users.active' | translate }}">
    <div class="highlight-tab-content">
      <div class="filer-and-add-new-user-container" style="justify-content: flex-end;">
        <div class="add-new-user-element" style="margin-top: 1rem; margin-bottom: 1rem;">
          <button mat-raised-button color="primary" class="action-button" (click)="openAddUser()">
            {{ 'admin.panel.settings.users.addNewUser' | translate }}
          </button>
        </div>
      </div>

      <app-smart-table [data]="allUsers" [columns]="activeUsersColumns"
                       filterPlaceholderKey="admin.panel.table.filter.placeholder">
      </app-smart-table>
    </div>
  </mat-tab>

  <mat-tab label="{{ 'admin.panel.tab.header.settings.users.deleted' | translate }}">
    <div class="highlight-tab-content">
      <app-smart-table [data]="deletedUsers" [columns]="deletedUsersColumns"
                       filterPlaceholderKey="admin.panel.table.filter.placeholder">
      </app-smart-table>
    </div>
  </mat-tab>
</mat-tab-group>
