<mat-tab-group>
  <mat-tab label="{{ 'admin.panel.tab.header.settings.users.active' | translate }}">
    <div class="highlight-tab-content">
      <app-smart-table [data]="allUsers" [columns]="activeUsersColumns"
                       filterPlaceholderKey="admin.panel.table.filter.placeholder" [headerAction]="addUserAction">
      </app-smart-table>
    </div>
  </mat-tab>

  <mat-tab label="{{ 'admin.panel.tab.header.settings.users.deleted' | translate }}">
    <div class="highlight-tab-content">
      <app-smart-table [data]="deletedUsers" [columns]="deletedUsersColumns"
                       filterPlaceholderKey="admin.panel.table.filter.placeholder">
      </app-smart-table>
    </div>
  </mat-tab>
</mat-tab-group>
