<div class="highlight-tab-content">
  @if (loading) {
    <mat-spinner diameter="30"></mat-spinner>
  } @else {
    <form [formGroup]="settingsForm">
      <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 15px;">
        <div style="display: flex; align-items: center;">
          <mat-slide-toggle formControlName="allowForRegistering" color="primary" (change)="saveSettings()">
            {{ 'admin.panel.settings.public.allowForRegistering' | translate }}
          </mat-slide-toggle>
          @if (saving) {
            <mat-spinner diameter="20" style="margin-left: 15px;"></mat-spinner>
          }
        </div>
        <div style="display: flex; align-items: center;">
          <mat-slide-toggle formControlName="allowForProfilePictureChange" color="primary" (change)="saveSettings()">
            {{ 'admin.panel.settings.public.allowForProfilePictureChange' | translate }}
          </mat-slide-toggle>
          @if (saving) {
            <mat-spinner diameter="20" style="margin-left: 15px;"></mat-spinner>
          }
        </div>
        <div style="display: flex; align-items: center;">
          <mat-slide-toggle formControlName="allowDarkMode" color="primary" (change)="saveSettings()">
            {{ 'admin.panel.settings.public.allowDarkMode' | translate }}
          </mat-slide-toggle>
          @if (saving) {
            <mat-spinner diameter="20" style="margin-left: 15px;"></mat-spinner>
          }
        </div>
      </div>
    </form>
  }
</div>
