@use "src/styles.scss" as *;

.dialog-button {
  width: 100%;
  margin: 16px;
}

.dialog-content-container {
  padding-bottom: 0;
}

.dialog-image {
  text-align: center;

  mat-icon {
    font-size: clamp(5rem, 5cqi, 8rem);
    height: clamp(5rem, 5cqi, 8rem);
    width: clamp(5rem, 5cqi, 8rem);
  }
}

.dialog-success-image {
  color: $app-green-color;
}

.dialog-warning-image {
  color: $app-accent-color;
}

.dialog-error-image {
  color: $app-red-color;
}

