<div class="dialog-container">
  <h1 mat-dialog-title class="dialog-font dialog-title">{{ 'admin.panel.users.header' | translate }}</h1>

  <app-user-form #userFormComponent [user]="data.user" [showPassword]="data.userDetailsType === UserDetailsType.CREATE"
                 [showRoles]="true" [disableEmail]="data.userDetailsType !== UserDetailsType.CREATE"
                 (formSubmit)="onFormSubmit($event)"></app-user-form>

  <mat-dialog-actions align="end">
    <div class="button-wrapper dialog-actions">
      <button mat-raised-button color="warn" class="action-button" (click)="onCancelClick()" cdkFocusInitial>
        {{ 'registeredUsers.details.cancel' | translate }}
      </button>
      <button mat-raised-button color="primary" class="action-button" (click)="onApproveClick()">
        @if (data.userDetailsType === UserDetailsType.CREATE) {
          {{ 'registeredUsers.details.create' | translate }}
        } @else {
          {{ 'registeredUsers.details.save' | translate }}
        }
      </button>
    </div>
  </mat-dialog-actions>
</div>
