<div class="dialog-container">
  <h1 mat-dialog-title class="dialog-title">{{ 'admin.panel.users.header' | translate }}</h1>

  <app-user-form #userFormComponent [user]="data.user" [showPassword]="data.userDetailsType === UserDetailsType.CREATE"
                 [showRoles]="true" [disableEmail]="data.userDetailsType !== UserDetailsType.CREATE"
                 (formSubmit)="onFormSubmit($event)"></app-user-form>

  @if (data.userDetailsType !== UserDetailsType.CREATE) {
    <mat-dialog-content class="mat-typography dialog-font dialog-content-container"
                        style="padding-top: 0; overflow: hidden;">
      <p style="margin-top: 0;">
        <button mat-raised-button color="accent" style="width: 100%; height: 56px; font-size: 16px;"
                (click)="onSendResetEmail()">
          {{ 'admin.panel.users.sendResetEmail' | translate }}
        </button>
      </p>
    </mat-dialog-content>
  }

  <mat-dialog-actions>
    <div class="app-popup-full-width-actions">
      <button mat-raised-button color="warn" class="app-action-button" (click)="onCancelClick()" cdkFocusInitial>
        {{ 'registeredUsers.details.cancel' | translate }}
      </button>
      <button mat-raised-button color="primary" class="app-action-button" (click)="onApproveClick()">
        @if (data.userDetailsType === UserDetailsType.CREATE) {
          {{ 'registeredUsers.details.create' | translate }}
        } @else {
          {{ 'registeredUsers.details.save' | translate }}
        }
      </button>
    </div>
  </mat-dialog-actions>
</div>
