<div class="manage-dictionary-container">
  <button [disabled]="loading" mat-raised-button color="primary" class="manage-dictionary-button" (click)="fileInput.click()">
    {{ 'admin.panel.settings.manageDictionary.loadAllWords' | translate }}
  </button>
  <input #fileInput type="file" (change)="onFileSelected($event)" accept=".txt" hidden/>

  <button [disabled]="loading" mat-raised-button color="warn" class="manage-dictionary-button" (click)="onRemoveAll()">
    {{ 'admin.panel.settings.manageDictionary.removeAll' | translate }}
  </button>
</div>

<div class="upload-container">
  @if (fileName) {
    <div class="file-info">
      <p>Wybrano: {{ fileName }} ({{ fileSizeMB }} MB)</p>
    </div>
  }

  @if (loading) {
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  }

  @if (!loading && totalWords > 0) {
    <p class="summary">
      Przetworzono {{ totalWords }} słów
    </p>
  }
</div>
