.manage-dictionary-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.manage-dictionary-button {
  flex: 1;
  min-width: 150px;
}

@media (max-width: 600px) {
  .manage-dictionary-button {
    flex: 100%;
  }
}

.upload-container {
  max-width: 500px;
  margin: 30px 0 0 0;
}

.file-info {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.summary {
  margin-top: 10px;
  font-weight: 500;
}

