.profile-card {
  width: 100%;
  max-width: 800px;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f44336;
}
