<<<<<<< HEAD
@use 'src/styles.scss' as *;
=======
@use "src/styles.scss" as *;
>>>>>>> template/main

.home-content {
  flex: 1 0 auto; // Takes available space, pushing the footer down
  overflow-y: auto; // Adds scroll to content if needed
}
<<<<<<< HEAD

.button-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.half-width-button {
  flex: 1;
}

.bolt-font {
  font-weight: bold;
  text-decoration: none;
}

.yes-class {
  color: $app-green-color;
}

.no-class {
  color: $app-red-color;
}

.search-result-container {
  margin-top: 30px;
}

.search-results-sentence {
  font-size: larger;
  margin-bottom: 0;
}

.link {
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
  cursor: default;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.link-icon {
  margin-left: 4px;
}
=======
>>>>>>> template/main
